body,html{
	margin:0;
	padding:0;
	background:#fffee6;
	background:#FEF9F0;
	color:#3a3a3a;
	font-family:'Raleway',sans-serif;
}

/*Default Styles*/
h2{
	text-decoration:underline;
}
.divider{
	height:3px;
	background:#3a3a3a;
}
.clearfix {
  overflow: auto;
}
.highlight{
	font-weight:600;
}
.tags {
    margin:0;
    padding-left: 0;
}
.tags li {
    font-size: 0.55em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin:0;
}

hr{
	margin:0;
}

/*Main Content Styles*/

.container{
	margin:100px 20px;
	.pic{
		height:100px;
		width:100px;
	}
	h1{
		font-size:60px;
		font-family:'Oswald',sans-serif;
		font-weight:700;
		letter-spacing:5px;
		margin-bottom:0;
	}
	.nav{
		list-style:none;
		padding:0;
		margin:20px 0;
		font-weight:600;
		li{
			display:inline-block;
			margin-right:3px;
			color:#3a3a3a;
			&:hover{
				color:#3498db;
			}
			&:visited{
			color:#3a3a3a;
			}
		}
	}
	.intro{
		line-height:1.5;
		margin:50px 0;
	}
	#skills{
		margin:50px 0;
		padding:0;
		list-style:none;
		li{
			display:inline-block;
		}
		li img{
			width:100px;
			height:100px;
		}
	}

	#projects{
		margin:50px 0;
		padding:0;
		color:#3a3a3a;
		> li{
			list-style:none;
			padding:10px 5px;
			height:75px;
			a{
				text-decoration:none;
				color:#3a3a3a;
				&:visited{
					color:#3a3a3a;
				}
			}
			p{
				margin:0;
			}
			&:hover{
				color:#fff;
				background:#3a3a3a;
				a{
					color:#fff;
				}
			}
		}
		

	}
	/*Footer Styles*/
	footer{
		margin:50px 0;
		div{
			margin:50px 0;
			.pic{
				width:25%;
				height:auto;
				border-radius:5px;
				border:3px solid black;
				float:left;
				margin-right:15px;
			}
			p{
				margin:0;
				text-align:left;
				line-height:1.2;
			}
		}
		.social-icons {
			clear: both;
			list-style: none;
			padding-left: 0;
			p{
				font-size:12px;
				margin:0;
				span{
					color:#3498db;
					font-size:24px;
				}
			}
		}
		.social-icons li {
			display: inline-block;
			padding-right: 4%;
			margin-top:15px;
		}
		.icons {
			margin: 0;
			margin-left: 0;
			height: 32px;
			width: 32px;
			float: left;
		}
	}
	
}
/* Responsive Styles*/

@media only screen and (min-width: 500px){
	.container{
		margin:175px 75px;
		h1{
			font-size:90px;
		}
		.intro{
			width:75%;
		}
		.projects{
			> li{
				width:60%;
			}
			hr{
				width:60%;
			}
		}
		footer{
			div{
				width:50%;
				.pic{
					width:15%;
				}
			}
		}
	}
}