/*General Styles*/
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	/*color: #f2f2f4;*/
}
.clearfix {
	overflow: auto;
}
.skill-button,.project-button,.contact-button{
	transition-property: color;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*****************Navigation************************/
/*Styles for mobile navigation and smaller screens*/
.mobile-nav-bar {
	background-color: white;
	border-bottom: 3px solid black;
	min-height: 55px;
	width: 100%;
	position: relative;
	cursor: pointer;
	z-index: 2;
	position: fixed;
}
/*Name tage for nav bar*/
.mobile-nav-bar p{
	margin: 0;
	font-weight: bolder;
	padding-left: 5px;
	padding-top: 8px;
	display: inline-block;
	color: black;
}
.subtitle{
	font-weight: lighter;
	color: #000099;
}
/*mobile nav bar button style*/
.mobile-nav-bar .mobile-nav-button {
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	width: 31px;
	height: 30px;
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}
.mobile-nav-bar .mobile-nav-button .bar {
	width: 100%;
	float: left;
	height: 4px;
	margin-bottom: 5px;
	background-color: black;
}
.mobile-nav-bar .mobile-nav-button .bar:last-of-type {
	margin-bottom: 0;
}
/*style for the mobile nav links and list */
.mobile-nav {
	height: 0;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin-top: 48px;
}
.mobile-nav ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	transform: translate(0, -300px);
	-ms-transform: translate(0, -300px);
	-webkit-transform: translate(0, -300px);
	transition: all .8s ease-in-out;
}
.mobile-nav ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
	background: #f0f0f5;
}
.mobile-nav ul li a:hover {
	background: #16174f;
	color: white;
}
.mobile-nav.show-mobile-nav ul {
	transform: translate(0px);
	-ms-transform: translate(0px);
	-webkit-transform: translate(0px);
}
/*this hides the larger nav bar section for larger width screens*/
.nav-bar{
	display: none;
}
/******************* Main Content **********************/
/*main about div styles */
.about-div {
	height: 500px;
	border-bottom: 5px solid #f4f4f2;
	background-color: #16174f;
	transition-property: background-color,font-size;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*styles for div when being scrolled on page*/
.about-div-scroll{
	background-color: #0b0c28;
}
/*about div paragraph style*/
.about {
	text-align: center;
	width: 95%;
	margin: auto;
	padding-top: 32%;
	display: none; 
	font-size: 1.3em;
	color: white;
	transition-property: font-size;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*about div paragraph scroll style*/
.about-scroll{
	font-size: 1.55em;
}
/********** Skills Section **********/
#skills {
	border-bottom: 5px solid #f4f4f2;
	background-color: #e6af4b;
	z-index: 20;
	display: none;
}
/*main skills header*/
.skills-header {
	text-align: center;
	margin: auto;
	padding-bottom:3%;
	text-decoration: underline;
}
/*div style for each skills section div*/
.html5, .responsive, .javascript {
	width: 100%;
	text-align: center;
	padding: 5% 0;
}
.html5{
	padding-top: 2%;
}
/*sets up elements for transition styles*/
.html5, .responsive, .javascript,.html-pic,.skill-pic{
	transition-property: background-color,font-size,width,height;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*header for individual skills*/
.skill-top {
	border-bottom: 1px solid white;
	width: 70%;
	padding-bottom: 2%;
	margin: auto;
	margin-bottom: 5%;
}
/*style for description text in the skill sections*/
.skill-description {
	width: 93%;
	text-align: center;
	margin: auto;
	padding: 0;
}
/*style for skill section when scolled over*/
.skill-scroll{
	background-color: #e09d1f;
}
.skill-pic {
	width: 150px;
	height: 150px;
}
/*style for pic when scrolled over*/
.pic-scroll{
	width:200px;
	height:200px;	
}
.html-pic {
	width: 220px;
	height: 150px;
}
.html-pic-scroll{
	width:250px;
	height:175px;	
}

/************ Projects **************/
#projects{
	border-bottom: 5px solid #f4f4f2;
	color: white;
	display: none;
}
/*main projects header*/
.projects-header {
	background-color: #64706c;
	text-align: center;
	margin: auto;
	padding-bottom:3%;
	text-decoration: underline;
}
/*style for each project section*/
.project{
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
	clear: both;
	background-color: #64706c;
	overflow: auto;
}
/*style for alternate color of project section*/
.colored{
	background-color: #935347;
}
/*project preview section*/
.project-preview{
	text-align: center;
}
/*pic preview of the project*/
.project-pic{
	width: 70%;
	border-radius: 10px;
	transition-property: width;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*style for pic when scrolled over*/
.project-pic-scroll{
	width: 85%;
}
/*information about the project*/
.project-info{
	text-align: center;
}
.project-info h1{
	transition-property: font-size;
	transition-duration: 0.50s;
	transition-timing-function: linear;
}
/*style fr h1 when scrolled*/
.project-h1-scroll{
	font-size: 2.3em;
}
.project-info p{
	text-align: center;
	padding: 0 2%;
	transition-property: font-size;
	transition-duration: 0.50s;
	transition-timing-function: linear;
	font-size: 0.9em;
}
/*tag styles*/
.tags{
	margin: 2% 0;
	padding-left: 0;
}
.tags li {
	font-size: 0.50em;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid  white;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 4px 4px;
	margin: 2px 0;
}
/*style of "view website" button*/
.links{
	width: 225px;
	margin: auto;
}
.button {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-decoration: none;
	border: 3px solid;
	padding: 4px 30px;
	margin: 7px 0; 
	background-color: rgba(255,255,255,0);
	border-color: rgb(149,165,166);
	color: #f4f4f2;
	float: left;
}
.button:hover {
	text-decoration: none; 
	-webkit-transition: 200ms ease-in;
	-moz-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in; 
	background-color:rgb(149,165,166);
	border-color: rgb(149,165,166);
	color: rgb(255,255,255); 
} 
/*github link for each project*/
.gh-link{
	display: inline-block;
	width: 40px;
	height: 40px;
	padding-left: 10px;
	float: left;
}
/********** Footer Section **********/

footer {
	font-size: 1em;
	margin: 0 auto;
	border-bottom: 3px solid #f4f4f2;
	background-color: #9fa8a3;
}
.credit{
	margin: 2% auto;
	text-align: center;
	clear: both;
	margin: 0;
	padding: 0;
}
.credit a{
	margin: 0;
	padding: 0;
}
.credit a:link{
	text-decoration: none;
	color: blue;
	font-weight: bolder;
	font-size: 1.5em;
}
.credit a:visited{
	color: blue;
}
/*style for bio div*/
.bio {
	width: 90%;
	padding-top: 10%;
	margin: auto;
}
/*style for bio pic*/
.pic {
	max-width: 100%;
	height: auto;
	margin-right: 4px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
	width: 22%;
	border:3px solid #f4f4f2;
	border-radius: 10%;
}
/*style for bio text */
.bio-info {
	width: 95%;
	text-align: left;
}
/*style for mobile icon list*/
.social-icons {
	clear: both;
	list-style: none;
	text-align: center;
	margin: 0 auto;
	padding-top: 10%;
	padding-left: 0;
}
.social-icons li {
	display: inline-block;
	padding-right: 4%;
}

.icons {
	margin:0;
	margin-left: 0;
	height: 32px;
	width: 32px;
	float: left;
}



/******************************* Responsive Design *******************************/

@media only screen and (max-width: 680px)  {
	/*hides the larger footer section for bigger screen width*/
	.contact-info {
		display: none;
	}
}

@media only screen and (min-width: 680px) {
	/*hides the mobile nav bar and links*/
	.mobile-nav-bar {
		display: none;
	}
	.mobile-nav{
		display: none;
	}
	.main-content{
		float: right;
		width: 75%;
	}
	/*adds the larger screen nav bar*/
	.nav-bar {
		float: left;
		width: 25%;
		height: 100%;
		position: fixed;
		display: block;
		text-align: center;
		margin: auto;
		border-right: 5px solid black;
		background-color: white;
		
	}
	.nav-bar h1, h4 {
		margin: 0;
		padding: 0;
		color: black;
	}
	.nav-bar h4{
		color: #1253a4;
	}

	.nav-bar ul{
		list-style: none;
		font-size: 1.5em;
		text-align: center;
		padding: 0;
		padding-bottom: 2%;
	}

	.nav-bar li {
		display: block;
	}
	.nav-bar li a{
		text-decoration: none;
		color: black;
		transition-property: color;
		transition-duration: .2s;
		transition-timing-function: linear;
	}
	.nav-bar li a:visited{
		color: black;
	}
	.nav-bar li a:hover{
		font-size: 2em;
		color: #1253a4;
	}
	.nav-pic{
		margin: auto;
		margin-top: 15%;
		display: inline-block;
		width: 75%;
		float: none;
	}
	.about {
		font-size: 2em;
		padding-top: 15%;
	}
	.about-scroll{
		font-size: 2.25em;
	}
	.html5, .responsive, .javascript {
		padding-bottom: 5%;
	}
	.skills-header {
		text-align: center;
		margin: auto;
	}

	.skill-top {
		border-bottom: 2px solid white;
		width: 70%;
		padding-bottom: 1.5%;
		margin: auto;
		margin-bottom: 3.5%;
	}

	.skill-description {
		width: 80%;
	}

	.project{
		clear: both;
		padding-top: 2.5%;
	}
	.project-preview{
		width: 50%;
		float: left;
		margin: auto;
		padding: 0;
		padding-top: 1%;
	}
	.project-info{
		width: 50%;
		float: right;
		text-align: left;
	}
	.project-info h2{
		margin: 0;
	}
	.project-info p{
		font-size: .9em;
		text-align: left;
		padding: 0;
		width: 95%;
		margin: 0;
	}
	.links{
		width: 100%;
	}
	.social-icons {
		display: none;
	}

	.bio, .contact-info {
		display: inline-block;
		width: 50%;
		float: left;
		text-align: center;
		padding-top: 2.5%;
		margin: auto;
	}
	.about-me {
		padding-left: 2%;
	}

	.bio-info {
		width: 90%;
		text-align: center;
		font-size: .90em;
		margin: auto;
	}
	.contact-links {
		list-style: none;
		padding-left: 0;
		text-decoration: none;
		margin: 0;
	}

	.contact-links li {
		text-align: left;
		padding-bottom: 10%;
		margin: 0 auto;
		text-decoration: none;
		width: 90%;
	}

	.contact-links li a:visited {
		color: blue;
	}

	.social {
		text-align: center;
		padding-left: 10%;
		margin: 0;
		font-size: 0.95em;
	}
}

	@media only screen and (min-width: 980px) {
	/*.skills {
		padding-bottom: 10%;
		height: 600px;
	}

	.html5, .responsive, .javascript {
		width: 33%;
		float: left;
		font: 400 1em/1.0 'Montserrat', Optima;
		height: auto;
		padding: 0;
	}

	.javascript {
		width: 34%;
	}
	*/
	.skill-top {
		font-size: 1.6em;
		padding-bottom: 35px;
	}
	.project-description p{
		width: 85%;
	}
	footer {
		clear: both;
	}

	.bio, .contact-info{
		display: inline-block;
		width: 50%;
		float: left;
		text-align: center;
		margin-top: 0;
		padding-top: 5%;
		font: 400 1em/1.0 'Montserrat', Optima;
	}
}

