body, html {
  margin: 0;
  padding: 0;
  background: #f8fad7;
  background: #FCFBE3;
  color: #3a3a3a;
  font-family: 'Cardo',sans-serif; }

/*Default Styles*/
h2 {
  text-decoration: underline;
  font-family: 'Montserrat',sans-serif; }

.divider {
  height: 3px;
  background: #3a3a3a; }

.clearfix {
  overflow: auto; }

.highlight {
  font-family: 'Montserrat',sans-serif;
  font-weight: 700; }

.tags {
  margin: 0;
  padding-left: 0; }

.tags li {
  font-size: 0.55em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0; }

hr {
  margin: 0; }

/*Main Content Styles*/
.container {
  margin: 75px 20px;
  /*Footer Styles*/ }
  .container .pic {
    height: 100px;
    width: 100px; }
  .container h1 {
    font-size: 60px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    margin-bottom: 0; }
  .container .nav {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600; }
    .container .nav li {
      display: inline-block;
      margin-right: 3px;
      color: #3a3a3a; }
      .container .nav li:hover {
        color: #3498db; }
      .container .nav li:visited {
        color: #3a3a3a; }
  .container .intro {
    line-height: 1.5;
    margin: 50px 0;
    font-size: 16px; }
  .container #skills {
    margin: 50px 0;
    padding: 0;
    list-style: none; }
    .container #skills li {
      display: inline-block; }
    .container #skills li img {
      width: 100px;
      height: 100px; }
  .container #projects {
    margin: 50px 0;
    padding: 0;
    color: #3a3a3a; }
    .container #projects > li {
      list-style: none;
      padding: 10px 5px;
      height: 75px;
      border-bottom: 1px solid #3a3a3a; }
      .container #projects > li a {
        text-decoration: none;
        color: #3a3a3a; }
        .container #projects > li a p {
          margin: 0;
          font-size: 16px;
          font-weight: bold; }
        .container #projects > li a:visited {
          color: #3a3a3a; }
      .container #projects > li:hover {
        color: #fff;
        background: #3a3a3a; }
        .container #projects > li:hover a {
          color: #fff; }
  .container footer {
    margin: 50px 0; }
    .container footer div {
      margin: 50px 0; }
      .container footer div .pic {
        width: 25%;
        height: auto;
        border-radius: 5px;
        border: 3px solid black;
        float: left;
        margin-right: 15px; }
      .container footer div p {
        margin: 0;
        text-align: left;
        font-size: 14px; }
    .container footer .social-icons {
      clear: both;
      list-style: none;
      padding-left: 0; }
      .container footer .social-icons li {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: .75em; }
        .container footer .social-icons li a {
          color: #3a3a3a; }
      .container footer .social-icons .icons {
        margin: 0;
        margin-left: 0;
        height: 32px;
        width: 32px; }
      .container footer .social-icons p {
        font-size: 12px;
        margin: 0; }
        .container footer .social-icons p span {
          color: #3498db;
          font-size: 24px; }

/* Responsive Styles*/
@media only screen and (min-width: 500px) {
  .container {
    margin: 75px 75px; }
    .container .pic {
      height: 150px;
      width: 150px;
      display: inline-block; }
    .container h1 {
      font-size: 90px;
      display: inline-block;
      margin: 0; }
    .container .intro {
      width: 75%; }
    .container .projects > li {
      width: 60%; }
    .container .projects hr {
      width: 60%; }
    .container footer div {
      width: 50%; }
      .container footer div .pic {
        width: 15%; }
    .container footer .social-icons li {
      font-size: 1em; } }

/*# sourceMappingURL=output.css.map */
