html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	color: #293e6a;
	text-align: center;
}
body{
	min-height: 100%;
	background-color: #77ba9b;
}
header{
	margin: 0 auto;
	text-align: center;
}
header h1{
	margin-top: 0;
	margin-bottom: 2.5%;
	font-weight: bolder;
	font-size: 3em;
}
header p{
	margin: 0 auto;
	width: 90%;
	font-size: 1.5em;
}
.clouds-flat-button {
	position: relative;
	vertical-align: top;
	height: 55px;
	padding: 0 7%;
	margin: 2.5% 3.5%;
	font-size: 1.35em;
	font-weight: bolder;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
	background-color: #e3e0cf;
	background-color: #b6a754;
	border: 0;
	border-radius: 10px;
	border-bottom: 2px solid #b6a754;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #dadedf;
	box-shadow: inset 0 -2px #b6a754;
}
.clouds-flat-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.clouds-flat-button:focus{
	outline: none;
}
div{
	text-align: center;
	margin: auto;
	margin-bottom: 5%;
	background-color: #3b599a;
	opacity: 0.50;
	width: 85%;
}
.placeholder{
	visibility: hidden;
}
div p {
	padding: 15px 2.5%;
	color: white;
	font-size: 1.5em;
}
footer {
	clear: both;
	margin: auto;
	margin-top: 5%;
	text-align: center;
}
footer a:link{
	text-decoration: none;
	color: blue;
	font-size: 1.3em;
	font-weight: bolder;
}
footer a:visited{
	color: blue;
	text-decoration: none;
	font-weight: bolder;
}
/********************** Responsive Design  **********************/
@media only screen and (min-width: 650px) {
	div {
		width: 75%;
	}
	div p {
		padding: 50px 3%;
		color: white;
	}
}
