/********** General Design *************/
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font: 400 1em/1.0 'Work Sans', Optima;
	color: #16174f;
	background-color: #f6f1ed;
}
.divider{
	width: 80%;
	margin: 10% auto;
}
.divider-top{
	width: 77%;
	margin: 2% auto;
	size:10px;
}
.divider-bottom{
	width: 75%;
	margin: 5% auto;
	clear: both;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/************ Header Section ***************/
.page-top{
	background: url("../img/sanantonio.jpg");
	border:15px solid #f6f1ed;
	text-align: center;
	height: 100%;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
}
.banner{
	font: 600 1.5em/1.0 'Work Sans', Optima;
	text-align: center;
	margin: auto;
	width: 80%;
	margin-top: 40%;
	border-radius: 10px;
	padding:3% 0;
	vertical-align: middle;
	background-color: rgba(246, 241, 237,0.65);  
}
.banner h1{
	margin: 0;
}
/****************** Introduction Section **************************/
.introduction{
	text-align: center;
	margin: auto;
	margin-top: 12%;
}
.about{
	width: 80%;
	margin: auto;
	font-size: 1.3em;
	font-weight: 600;
}
.history{
	font-size: 1.3em;
	padding-top: 7%;
	font-weight: 600;
}
.history-pic{
	background-image: url("../img/alamo.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	width: 90%;
	height: 100%;
	margin: auto;
}
/*********** Attractions Section**********/
.attractions{
	margin: auto;
	text-align: center;
	clear: both;
}
.attraction-heading{
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: 600;
}
.description{
	margin: auto;
	text-align: justify;
	width: 85%;
	padding-top: 4%;
	font-weight: 600;
}
.pic{
	width: 85%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}
/**************** List Style *********************/
.list{
	padding:10% 0;
	margin: 0;
}
.list li a{
	color: #595959;
	color: #963019;
	margin: auto;
	text-decoration: none;
	font-size: 1.3em;
}
@-webkit-keyframes hvr-back-pulse{
	50% {
		background-color: rgba(32, 152, 209, 0.75);
	}
}

@keyframes hvr-back-pulse{
	50% {
		background-color: rgba(32, 152, 209, 0.75);
	}
}

.hvr-back-pulse li{
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	width: 40%;
	margin: auto;
	margin-bottom: 3%;
	height: 100%;
}
.hvr-back-pulse li:hover, .hvr-back-pulse li:focus, .hvr-back-pulse li:active {
	-webkit-animation-name: hvr-back-pulse;
	animation-name: hvr-back-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	background-color: #2098d1;
	background-color: #2098d1;
	color: white;
}
/************* Footer Section *******************/
footer {
	clear: both;
	margin: auto;
	margin-top: 5%;
	text-align: center;
}
footer p a:link{
	text-decoration: none;
	color: blue;
	font-size: 1.5em;
	font-weight: bolder;
}
footer p a:visited{
	color: blue;
	text-decoration: none;
	font-weight: bolder;
}


/********************** Responsive Design ***************************/
@media only screen and (min-width: 715px) {
	.banner{
		margin-top: 25%;
	}
}
@media only screen and (min-width: 800px) {
	.introduction{
		margin-top: 5%;
	}
	.border {
		border-top: 2px solid black;
	}
	.banner{
		margin-top: 16%;
	}
	.attraction-left{
		float: left;
		width: 50%;
	} 
	.attraction-right {
		float: right;
		width: 50%;
	}
}
