/*General styles*/
html,body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  background:url('../img/movie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 1280px;
}
/*adds some main styles to all divs*/
div {
  text-align:center;
  margin: auto;
}
/*link for the tv seeker section */
.link{
  float: right;
  text-decoration: none;
  font-size: .85em;
  height: 20px;
  font-weight: bold;
  text-align: center;
  border:5px solid #e8ae6e;
  color: #e2695e;
  background-color: rgba(255, 255, 255,1); 
  border-radius: 5px;
  width: 215px;
  padding: 5px 2px;
  margin: 3px 3px;
  transition-property: font-size;
  transition-duration: .25s;
  transition-timing-function: linear;
}
.link:visited{
   color: #e2695e;
}
.link:hover{
  font-size: 1em;
}
/*main header title*/
.header{
  text-align: center;
  margin: 25px auto;
  border:3px solid white;
  display: inline-block;
  font-size: 3em;
  color: white;
  background-color: rgba(49, 86, 104,0.85);
  border-radius: 10px;
}

/*Search Bar Styles*/
.search-bar{
  margin: 0 auto;
  /*height: 40px;*/
  display: flex;
  width: 75%;
  flex-direction: row;
}
input{
  height: 40px;
  width: 95%;
  padding: 5px;
  font-size: 1.15em;
  font-weight: bold;
  background: #fff; 
  border:solid 1px #d9d9d9; 
  border-top:solid 2px #c0c0c0; 
  border-bottom:solid 2px #c0c0c0; 
  border-right:none;
}
input:focus{
  outline: none;
}
.button {
  background: #fff;
  width: 45px;
  height: 54px;
  border-top:solid 2px #c0c0c0;
  border-right:solid 1px #d9d9d9;
  border-bottom:solid 2px #c0c0c0;
  border-left: none;
  padding: 5px;
}
.button img{
  width: 35px;
  height: 35px;
  margin: 0 auto;
}
.button:focus{
  outline: none;
}
/*Main movie section styles*/
.movie{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.poster{
  margin:auto;
  display: none;
}
.poster img{
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-align: center;
}
.movie-info{
  width: 95%;
  background-color: rgba(49, 86, 104,0.85);
  margin: auto;
  color: white;
  border:5px solid white;
  display: none;
}
.title h1{
  margin:0;
}
.overview{
  text-align: center;
  margin: auto;
  border-radius: 5px;
  width: 98%;
  font-size: 0.9em;
}
.placeholder{
  visibility: hidden;
}
.overview p {
  font-size: 0.95em;
}
/*trailer div section */
.trailer{
  margin: 5% auto;
  width: 60%;
}
.trailer a {
  text-decoration: none;
}
/*trailer button styles*/
.trailer-button {
  background-color:blue;
  background-color: rgb(113, 186, 169);
  color:#fff;
  font-size:20px;
  line-height:30px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  margin: auto;
} 
/*div for navigation section containing buttons*/
.navigation{
  width:80%;
  margin-bottom: 3%;
}
.animate{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button{
  position: relative;
  float: left;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0px 10px 10px 0px;
  font-size: 20px;  
}
.left{
  float:left;
  background-color:white;
  color: #e2695e;
}
.right{
  float:right;
  background-color:#e2695e;
  color:white;
}
/*footer section*/
footer {
  clear: both;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
footer p{
  margin: 0;
  color: white;
  font-size: 1em;
  background-color: #e2695e;
  border-radius: 3px;
  padding: 3px;
}
footer a:link{
  text-decoration: none;
  color: #e8ae6e;
  font-size: 1.5em;
  font-weight: bolder;
}
footer a:visited{
  color: #e8ae6e;
  text-decoration: none;
  font-weight: bolder;
}
/***********************Responsive Design*****************************/

@media only screen and (min-width: 900px){
  body{
    background-size: 100% 100%;
    height: 1020px;
  }
  .header{
    width: 45%;
    font-size: 4em;
  }
  .movie{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    width: 98%;
  }
  .poster{
    margin:auto;
    width: 40%;
  }
  .poster img{
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 70%;
  }
  .movie-info{
    width: 60%;
    margin: 0;
    height: 500px;
  }
  .overview p{
    padding: 0 15px;
  }
  .navigation{
    width: 55%;
  }
}
